@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aavaliação técnica da DB1 Global Software.</p>
<p>O RH necessita de uma aplicação para traçar as tecnologias que os candidatos conhecem. Como cadastros base, será informado ao sistema quais tecnologias a empresa trabalha, e quais vagas estão disponíveis. Durante a entrevista, candidato será cadastrado a uma vaga e vinculado às tecnologias que conhece. Ao final do período de triagem de currículos, o RH informará o peso de cada tecnologia para a vaga em questão, recebendo com isso, um relatório ordenado por candidato, pontuado de acordo com o conhecimento do mesmo.”

A resolução dos exercícios deverá utilizar preferencialmente as tecnologias ASP.NET MVC

⦁	Se baseando no requisito acima, desenvolva os cadastros base da aplicação contemplando as seguintes operações: Listagem, criação, alteração e exclusão.
⦁	Utilizando a estrutura elaborada anteriormente, desenvolva a funcionalidade de entrevista descrita na regra de negócio.
⦁	Utilizando a estrutura elaborada anteriormente, desenvolva as funcionalidades contempladas ao final do período de triagem de currículos.
⦁	Elabore uma aplicação web que contemple as regras citadas acima e utilize as seguintes tecnologias COMO SUGESTÃO (NÃO PRECISA USAR TODAS AS TECNOLOGIAS, USE AS QUE VOCÊ TEM MAIS FACILIDADE E AS QUE VOCÊ CONHECE):
⦁	ASP.NET MVC 5;
⦁	C# 5.0
⦁	Entity Framework 6 (Code First);
⦁	Javascript utilizando jQuery;
⦁	Cobertura de código utilizando Testes Unitários na camada de negócio com MStest (Dica: Existe uma ferramenta chamada ⦁	ncrunch para cobertura de código);
Componentes Gráficos:
⦁	Bootstrap versão 3 ou superior
⦁	Bootstrap-modal.js
Design Patterns Desejados, mas não obrigatórios:
⦁	GOF
⦁	SOLID
</p>
