@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Praça Vereador Oswaldo Vieira<br />
    Maringá, PR 87030-220<br />
    <abbr title="Phone">P:</abbr>
    44.9143-9118
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:eduardoacsouza@hotmail.com">Eduardo Augusto Coleta de Souza</a><br />
</address>