@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rh.ConhecimentoCandidato</h1>
    <p class="lead">Siga os passos abaixo para melhor utilização do sistema.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastre novas vagas</h2>
        <p>
            Cadastre uma nova vaga de emprego para o processo seletivo de sua empresa, basta clicar no botão abaixo!
        </p>
        <p><a class="btn btn-default" href="~/Vagas/Create">Acesse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastre novas tecnologias</h2>
        <p>Cadastre todas as tecnologias e conhecimentos que a sua vaga vai necessitar! É simples e rápido, clique no botão abaixo!</p>
        <p><a class="btn btn-default" href="~/Tecnologias/Create">Acesse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agora os candidatos!</h2>
        <p>Caso você já tenha cadastrados todas as funcionalidades anteriores, é hora de começar as entrevistas! Cadastre novos candidatos pelo botão!.</p>
        <p><a class="btn btn-default" href="~/Candidatos/Create">Acesse &raquo;</a></p>
    </div>
</div>